{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint", "sort-imports-es6-autofix"],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
        "accessor-pairs": "error",
        "array-callback-return": "error",
        "default-case-last": "error",
        "default-param-last": "error",
        "dot-notation": "error",
        "eqeqeq": "error",
        "grouped-accessor-pairs": "error",
        "max-classes-per-file": "off",
        "no-caller": "error",
        "no-case-declarations": "error",
        "no-console": "error",
        "no-constructor-return": "error",
        "no-else-return": "off",
        "no-eq-null": "error",
        "no-eval": "error",
        "no-extend-native": "error",
        "no-extra-bind": "error",
        "no-extra-label": "off",
        "no-floating-decimal": "error",
        "no-implicit-globals": ["error", { "lexicalBindings": true }],
        "no-invalid-this": "error",
        "no-labels": "off",
        "no-lone-blocks": "error",
        "no-multi-spaces": "error",
        "no-new": "error",
        "no-new-func": "error",
        "no-new-wrappers": "error",
        "no-proto": "error",
        "no-redeclare": "error",
        "no-throw-literal": "error",
        "no-unreachable-loop": "error",
        "no-useless-call": "error",
        "no-useless-return": "off",
        "vars-on-top": "error",
        "sort-imports-es6-autofix/sort-imports-es6": [
            "error",
            {
                "ignoreCase": false,
                "ignoreMemberSort": false,
                "memberSyntaxSortOrder": ["none", "all", "multiple", "single"]
            }
        ],
        "brace-style": ["error", "1tbs", { "allowSingleLine": false }],

        "@typescript-eslint/naming-convention": [
            "warn",
            {
                "selector": "enumMember",
                "format": null,
                "custom": {
                    "regex": "^[A-Z_][0-9A-Za-z_]+$",
                    "match": true
                }
            }
        ],
        "consistent-return": "warn",
        "no-constant-condition": ["warn", { "checkLoops": false }],
        "@typescript-eslint/no-empty-function": "off",

        "curly": ["error", "all"],

        "@typescript-eslint/ban-ts-comment": "off",
        "@typescript-eslint/no-inferrable-types": "off",
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/no-unused-vars":
        [
            "warn",
            {
                "argsIgnorePattern": "^_",
                "varsIgnorePattern": "^_",
                "caughtErrorsIgnorePattern": "^_"
            }
        ],
        "no-fallthrough": "off"
    }
}

